.accordion {
  @apply mt-12 flex flex-col justify-start px-5 md:px-10 lg:px-20 lg:py-16 xl:px-48 2xl:px-64;

  &__title {
    @apply mb-1 text-[14px] text-red;
  }

  &__subtitle {
    @apply mb-6 text-[20px] font-semibold text-darkGray lg:text-[32px];
  }

  &__sections {
    @apply flex flex-col gap-3;
  }

  &__section {
    @apply flex flex-col items-start justify-center rounded-md bg-lightGray7 px-6 py-6;
    transition: all 0.3s ease;
    max-height: 80px; // Height of closed section
    overflow: hidden;

    &.accordion__section_open {
      max-height: 300px; // Adjust this height as necessary to fit content
    }
  }

  &__sectionTitle {
    @apply flex w-full items-center justify-start text-[20px] font-semibold text-darkGray;
  }

  &__header {
    @apply flex w-full cursor-pointer items-center justify-start text-[20px] font-semibold text-darkGray;
  }

  &__arrow {
    @apply mr-3 h-[12px] w-[12px];
  }

  &__arrowContainer {
    .accordion__arrowBlack {
      @apply w-[20px] rotate-0 transform duration-300;
    }

    &.accordion__arrowContainer_active .accordion__arrowBlack {
      @apply rotate-180 transform duration-300;
    }
  }

  &__content {
    transition:
      opacity 0.3s ease,
      max-height 0.3s ease;
    max-height: 0;
    opacity: 0;

    &.accordion__content_open {
      max-height: 200px; // Adjust this height as necessary to fit content
      opacity: 1;
    }

    ul {
      @apply mt-4 list-none pl-0;
    }

    li {
      @apply relative mb-2 pl-6 text-[12px] text-gray-700 last:mb-0;
    }

    li::before {
      content: '';
      @apply absolute left-0 top-1/2 h-[6px] w-[6px] -translate-y-1/2 transform bg-red;
      border-radius: 0;
    }
  }
}
