@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-poppins), sans-serif;
  font-weight: normal;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
